<% if current_user.try(:admin?) %>

<h1>Orders</h1>

<p id="notice"><%= notice %></p>

<table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-1">Order Id</th>
        <th class="col-md-3">Order date</th>
        <th class="col-md-3">Customer email</th>
        <th class="col-md-2">Order status</th>
        <th class="col-md-3"></th>
      </tr>
    </thead>
    <tbody>

    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.date.strftime("%F %T") %></td>
        <td><%= order.user.email %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to 'Show', order, :class => "btn btn-danger", :role => "button" %>
          <%= link_to 'Edit', edit_order_path(order), :class => "btn btn-danger", :role => "button" %>
          <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button" %>
        </td>
      </tr>
    <% end %>

    <% if @orders.empty? %>
        <tr>
          <td colspan="5" align="center"><em>There is no any order in the system</em></td>
        </tr>
    <% end %>

  </tbody>
</table>

<% else %>

<h1>My Orders</h1>

<table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-3">Order Id</th>
        <th class="col-md-3">Order date</th>
        <th class="col-md-3">Order status</th>
        <th class="col-md-3"></th>
      </tr>
    </thead>
    <tbody>

    <% has_order = false %>
    <% @orders.each do |order| %>
      <% if order.user.email == current_user.email then %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.date.strftime("%F %T") %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Order details', order, :class => "btn btn-success", :role => "button" %></td>
      </tr>
      <% has_order = true %>
      <% end %>
    <% end %>

    <% if !has_order then %>
        <tr>
          <td colspan="4" align="center"><em>You haven't placed any order yet</em></td>
        </tr>
    <% end %>

  </tbody>
</table>

<% end %>

