<div class="row">
<% @items.each do |item| %>
  <div class="col-md-4 text-center">
    <%= link_to (image_tag item.picture, :style => "width:75%"), "/items/show/" + item.id.to_s %><br>
    <strong><%= item.manufacturer %></strong><br>
    <%= link_to item.name, item %><br>
    <% if item.discount > 0 then %>
      <s><%= number_to_currency(item.price, :unit => "€", precision: 2) %></s>
      <mark>Discount <%= number_to_percentage(-item.discount * 100, precision: 2) %></mark>
      <strong><%= number_to_currency(item.price * (1 - item.discount), :unit => "€", precision: 2) %></strong><br>
    <% else %>
      <strong><%= number_to_currency(item.price, :unit => "€", precision: 2) %></strong><br>
    <% end %>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_item_path(item), :class => "btn btn-danger", :role => "button" %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button" %>
    <% else %>
      <%= link_to "Add to basket", "/cart/" + item.id.to_s, :class => "btn btn-success", :role => "button" %>
    <% end %>
  </div>
<% end %>
</div>
