<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li class="active"><a href="/items">All Products</a></li>
        <% @categories.each do |category| %>
          <li><a href="/categories/list/<%= category.id %>"><%= category.gender %> <%= category.name %></a></li>
        <% end %>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
<% @items.each do |item| %>
  <div class="col-md-4 text-center">
    <%= link_to (image_tag item.picture, :style => "width:75%"), item %><br>
    <strong><%= item.manufacturer %></strong><br>
    <%= link_to item.name, item %><br>
    <strong><%= number_to_currency(item.price, :unit => "€") %></strong><br>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_item_path(item), :class => "btn btn-danger", :role => "button" %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button" %>
    <% else %>
      <%= link_to "Add to basket", "/cart/" + item.id.to_s, :class => "btn btn-success", :role => "button" %>
    <% end %>
  </div>
<% end %>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Item', new_item_path, :class => "btn btn-danger", :role => "button" %>
<% end %>
