<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/items">All Products</a></li>
        <li><a href="/categories/1">Women Footwear</a></li>
        <li><a href="/categories/2">Women Clothing</a></li>
        <li><a href="/categories/3">Women Spikes</a></li>
        <li><a href="/categories/4">Men Footwear</a></li>
        <li><a href="/categories/5">Men Clothing</a></li>
        <li><a href="/categories/6">Men Spikes</a></li>
        <li><a href="/categories/7">Accessories</a></li>
        <li><a href="/categories/8">Discounts</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
<% @items.each do |item| %>
  <div class="col-md-4 text-center">
    <%= link_to (image_tag item.picture, :style => "width:75%"), item %><br>
    <strong><%= item.manufacturer %></strong><br>
    <%= link_to item.name, item %><br>
    <strong><%= number_to_currency(item.price, :unit => "€") %></strong><br>
    <% if session[:login] == 1 then %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to "Add to basket", "/cart/" + item.id.to_s, :class => "btn btn-success", :role => "button" %>
    <% end %>
  </div>
<% end %>
</div>

<% if session[:login] == 1 then %>
  <%= link_to 'New Item', new_item_path %>
<% end %>
