<%= render 'items/header' %>

<div class="row">
  <div class="col-md-8">
    <%= image_tag @item.picture %><br>
  </div>
  <div class="col-md-4">
    <h2><%= @item.manufacturer %></h2>
    <h1><%= @item.name %></h1>
    <h2><%= number_to_currency(@item.price, :unit => "€", precision: 2) %></h2>
    <h4><%= @category.gender %> <%= @category.name %></h4>
    <h4>Colour: <%= @item.colour %></h4>
    <h4>Size: <%= @item.size %></h4>
    <h4>Discount: <%= @item.discount %>%</h4>
    <h4>In Stock: <%= @item.stock %></h4>
    <p><%= @item.description %></p>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_item_path(@item), :class => "btn btn-danger", :role => "button" %>
      <%= link_to 'Back', items_path, :class => "btn btn-danger", :role => "button" %>
    <% else %>
      <%= link_to "Add to basket", "/cart/" + @item.id.to_s, :class => "btn btn-success", :role => "button" %>
      <%= link_to "Back to catalog", items_path, :class => "btn btn-success", :role => "button" %>
    <% end %>
  </div>
</div>
