<% total_amount = 0 %>
<% total_quantity = 0 %>
<% if @cart != nil then %>
  <% @cart.each do |id,quantity| %>
    <% item = Item.find_by_id(id) %>
    <% total_quantity += quantity %>
    <% # total_amount += quantity * item.price %>
  <% end %>
<% end %>

  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right" style="padding:10px">
      <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
      <li role="presentation">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
        <% else %>
            <%= link_to 'Register', new_user_registration_path %>
          </li>
          <li role="presentation">
            <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </li>
      <li role="presentation"><%= link_to "My Account", edit_user_registration_path %></li>
      <li role="presentation"><%= link_to "Basket: " + total_quantity.to_s + " item (" + number_to_currency(total_amount, :unit => "€") + ")", cart_path, :id => "basket" %></li>
      <li role="presentation"><%= link_to "Help", help_path %></li>
      </ul>

      <form class="navbar-form navbar-right" style="padding: 5px 15px" action="/search" method="post">
        <div class="input-group">
          <input type="text" class="form-control" id="keyword" placeholder="Search products...">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </div>
        </div>
      </form>

    </nav>
    <h3 class="text-muted">Runner's Dream Web Shop</h3>
    <hr>
  </div>
